<% include header %>
<div id="offsetDiv">
  <div>
    <div style="float: left; background: #910000; margin: 3px; padding: 3px; width: 280px; text-align: center">
      <span style="color: white; font-size: 10pt">Temp:<br></span>
      <span id="last_temp" style="color: white; font-size: 40pt;">loading last value...</span><br>
      <span id="last_temp_time" style="color: white; font-size: 10pt"></span>
    </div>
    <div style="float: left; background: #4572A7; margin: 3px; padding: 3px; width: 280px; text-align: center">
      <span style="color: white; font-size: 10pt">Light:<br></span>
      <span id="last_light" style=" color: white; font-size: 40pt;">loading last value...</span><br>
      <span id="last_light_time" style="color: white; font-size: 10pt"></span>
    </div>
    <div style="float: left; background: #8bbc21; margin: 3px; padding: 3px; width: 280px; text-align: center">
      <span style="color: white; font-size: 10pt">Wind speed:<br></span>
      <span id="last_wind_speed" style="color: white; font-size: 40pt;">loading last value...</span><br>
      <span id="last_wind_speed_time" style="color: white; font-size: 10pt"></span>
    </div>
    <div style="float: left; background: #f28f43; margin: 3px; padding: 3px; width: 280px; text-align: center">
      <span style="color: white; font-size: 10pt">Wind direction:<br></span>
      <span id="last_wind_direction" style="color: white; font-size: 40pt;">loading last value...</span><br>
      <span id="last_wind_direction_time" style="color: white; font-size: 10pt"></span>
    </div>
  </div>
  <div id="first-container" style="clear: both; min-width: 600px; height: 200px; margin: 0 auto"></div>
  <div id="second-container" style="min-width: 600px; height: 200px; margin: 0 auto"></div>
</div>

<script>
setInterval(function() {
  firstchart.series[0].setData(getData('/hc/<%= token %>/temp'),true);
  firstchart.series[1].setData(getData('/hc/<%= token %>/light'),true);
  secondchart.series[0].setData(getData('/hc/<%= token %>/wind_speed'),true);
  secondchart.series[1].setData(getData('/hc/<%= token %>/wind_direction'),true);
  getAllLast();
},50000);

function getLast(token, key, unit, dec) {
  var json = (function () {
    var json = null;
    $.ajax({
          'async': false,
          'global': false,
          'url': '/last/' + token + '/' + key,
          'dataType': "json",
          'success': function (data) {
              $('#last_' + key).html(Number(data['val']).toFixed(dec) + unit);
              $('#last_' + key + '_time').html(((new Date() - new Date(data['time']))/1000/60).toFixed(0) + " min ago");
          }
    });
  })();
}

function getAllLast() {
  getLast('hacklab','temp','&deg;C',2);
  getLast('hacklab','light','',0);
  getLast('hacklab','wind_speed','m/s',2);
  getLast('hacklab','wind_direction','&deg;',0);
};
getAllLast();

function getData(query) {
  var json = (function () {
    var json = null;
    $.ajax({
          'async': false,
          'global': false,
          'url': query,
          'dataType': "json",
          'success': function (data) {
              data.push([ new Date().getTime(), null ]);
              json = data;
          }
    });
    return json;
  })();
  return json;
}

var firstoptions = {
            chart: {
                renderTo: 'first-container',
                type: 'spline',
                zoomType: 'x',
            },
            legend: {
                enabled: false
            },
            title: {
                text: 'temperature and light level'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                }
            },
            yAxis: [{
                title: {
                    text: 'Temp (C)',
                    style: {
                        color: '#910000'
                    }
                },
                labels: {
                    style: {
                        color: '#910000'
                    }
                },
              },{
                title: {
                    text: 'Light level',
                    style: {
                        color: '#4572A7'
                    }
                },
                labels: {
                    style: {
                        color: '#4572A7'
                    }
                },
                opposite: true,
		min: 0
            }],
            tooltip: {
                shared: false,
                crosshairs: true,
                followPointer: true,
                shadow: false
            },
            plotOptions: {
                spline: {
                    lineWidth: 1,
                    marker: {
                        enabled: false
                    },
                    states: {
                        hover: {
                            enabled: false
                        }
                    }
                }
            },
            series: [
              {
                name: 'Temp',
                color: '#910000',
                tooltip: {
                    valueSuffix: 'C',
                },
                data: getData('/hc/<%= token %>/temp'),
              },{
                name: 'Light',
                color: '#4572A7',
                data: getData('/hc/<%= token %>/light'),
                yAxis: 1
              }
            ]
        };

//wind
var secondoptions = {
            chart: {
                renderTo: 'second-container',
                type: 'spline',
                zoomType: 'x',
            },
            legend: {
                enabled: false
            },
            title: {
                text: 'wind speed and direction' 
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                }
            },
            yAxis: [{
                title: {
                    text: 'Wind speed',
                    style: {
                        color: '#8bbc21'
                    }
                },
                labels: {
                    style: {
                        color: '#8bbc21'
                    },
                },
                min: 0
              },{
                title: {
                    text: 'Wind direction',
                    style: {
                        color: '#f28f43'
                    }
                },
                labels: {
                    style: {
                        color: '#f28f43'
                    },
                },
                min: 0,
                max: 360,
                opposite: true
              }
            ],
            tooltip: {
                shared: false,
                crosshairs: true,
                followPointer: true
            },
            plotOptions: {
                spline: {
                    lineWidth: 1,
                    marker: {
                        enabled: false
                    },
                    states: {
                        hover: {
                            enabled: false
                        }
                    }
                }
            },
    series: [{
      name: 'Wind speed',
      color: '#8bbc21',
      tooltip: {
        valueSuffix: 'm/s',
      },
      data: getData('/hc/<%= token %>/wind_speed') 
    },{
      name: 'Wind direction',
      color: '#f28f43',
      data: getData('/hc/<%= token %>/wind_direction'),
      yAxis: 1
    }]
  };

var firstchart;
var secondchart;
$(function () {
    $(document).ready(function() {
        firstchart  = new Highcharts.Chart(firstoptions);
        secondchart = new Highcharts.Chart(secondoptions);
    })
});

</script>

<% include footer %>
