<% include header %>
<style>
div .last_div {
  margin: 0px;
  padding: 5px;
  width: 190px;
  text-align: center;
  display:inline-block;
}
.last_value {
  color: white;
  font-size: 35pt;
}
</style>
<div id="offsetDiv">
  <div style="text-align:center;">
    <div class="last_div" style="background: #910000">
      <span style="color: white; font-size: 10pt">Temp:<br></span>
      <span id="last_dht_temp" class="last_value">loading last value...</span><br>
      <span id="last_dht_temp_time" style="color: white; font-size: 10pt"></span>
    </div><div class="last_div" style="background: #77a1e5">
      <span style="color: white; font-size: 10pt">Rel. humidity:<br></span>
      <span id="last_humidity" class="last_value">loading last value...</span><br>
      <span id="last_humidity_time" style="color: white; font-size: 10pt"></span>
    </div><div class="last_div" style="background: #8bbc21">
      <span style="color: white; font-size: 10pt">Light:<br></span>
      <span id="last_light" class="last_value">loading last value...</span><br>
      <span id="last_light_time" style="color: white; font-size: 10pt"></span>
    </div><div class="last_div" style="background: #4572A7">
      <span style="color: white; font-size: 10pt">Wind speed:<br></span>
      <span id="last_wind_speed" class="last_value">loading last value...</span><br>
      <span id="last_wind_speed_time" style="color: white; font-size: 10pt"></span>
    </div><div class="last_div" style="background: #f28f43">
      <span style="color: white; font-size: 10pt">Wind direction:<br></span>
      <span id="last_wind_direction" class="last_value">loading last value...</span><br>
      <span id="last_wind_direction_time" style="color: white; font-size: 10pt"></span>
    </div>
  </div>
  <div id="temp-container" style="clear: both; min-width: 600px; height: 150px; margin: 0 auto"></div>
  <div id="humidity-container" style="min-width: 600px; height: 150px; margin: 0 auto"></div>
  <div id="light-container" style="min-width: 600px; height: 150px; margin: 0 auto"></div>
  <div id="wind_speed-container" style="min-width: 600px; height: 150px; margin: 0 auto"></div>
  <div id="wind_direction-container" style="min-width: 600px; height: 150px; margin: 0 auto"></div>
</div>

<script>
setInterval(function() {
  getAllLast();
},50000);

function getLast(token, key, unit, dec) {
  var json = (function () {
    var json = null;
    $.ajax({
          'async': false,
          'global': false,
          'url': '/last/' + token + '/' + key,
          'dataType': "json",
          'success': function (data) {
              $('#last_' + key).html(Number(data['val']).toFixed(dec) + unit);
              $('#last_' + key + '_time').html(((new Date() - new Date(data['time']))/1000/60).toFixed(0) + " min ago");
          }
    });
  })();
}

function getAllLast() {
  getLast('<%= token %>','dht_temp','&deg;C',1);
  getLast('<%= token %>','humidity','%',1);
  getLast('<%= token %>','light','%',0);
  getLast('<%= token %>','wind_speed','m/s',2);
  getLast('<%= token %>','wind_direction','&deg;',0);
};
getAllLast();

function getData(query) {
  var json = [];
  $.ajax({
          'async': false,
          'global': false,
          'url': query,
          'dataType': "json",
          'success': function (data) {
              data.push([ new Date().getTime(), null ]);
              json = $.map(data, function(n) {
                  return [ [ new Date(n[0]), n[1] ] ];
              });
          }
  });
  return json;
};
</script>

<script type="text/javascript">
new Dygraph(
    document.getElementById("temp-container"),
    getData('/hc/<%= token %>/dht_temp'),
    {
        rollPeriod: 20,
        showRoller: true,
        ylabel: 'Temperature (C)',
        labels: ['date', 'y'],
        colors: [ '#910000' ],
    }
);
new Dygraph(
    document.getElementById("humidity-container"),
    getData('/hc/<%= token %>/humidity'),
    {
        rollPeriod: 20,
        showRoller: true,
        ylabel: 'Humidity (rel.) (%)',
        valueRange: [ 0, null ],
        labels: ['date', 'y'],
        colors: [ '#77a1e5' ],
    }
);
new Dygraph(
    document.getElementById("light-container"),
    getData('/hc/<%= token %>/light'),
    {
        rollPeriod: 20,
        showRoller: true,
        ylabel: 'Light (%)',
        valueRange: [ 0, 100 ],
        labels: ['date', 'y'],
        colors: [ '#8bbc21' ],
    }
);
new Dygraph(
    document.getElementById("wind_speed-container"),
    getData('/hc/<%= token %>/wind_speed'),
    {
        rollPeriod: 20,
        showRoller: true,
        ylabel: 'Wind speed (m/s)',
        valueRange: [ 0, null ],
        labels: ['date', 'y'],
        colors: [ '#4572A7' ],
    }
);
new Dygraph(
    document.getElementById("wind_direction-container"),
    getData('/hc/<%= token %>/wind_direction'),
    {
        rollPeriod: 20,
        showRoller: true,
        ylabel: 'Wind direction (&deg;)',
        valueRange: [ 0, 360 ],
        labels: ['date', 'y'],
        colors: [ '#f28f43' ],
    }
);
</script>

<% include footer %>
